* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Primary color */

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
}

/* Header Style */

.header {
    background-color: #FFF8F3;
    background-image: url('images/images/header_bg.png'), url('images/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 600px, 80px;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 170px;
}

.nav-logo {
    font-size: 45px;
    font-style: normal;
}

.nav-logo-r {
    color: #FD6E0A;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    list-style: none;
    padding: 10px;

}

.nav-menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* Banner Style */

.banner {
    display: flex;
    align-items: center;
    padding: 40px 15px 0px 170px;
    justify-content: space-between;
}

.banner-intro {
    color: #474747;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 3px;
}

.banner-name {
    color: #181818;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 17px;
}

.banner-short-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 20px;
    max-width: 600px;
}

.banner-btn {
    margin-left: 10px;
    background-color: #FFF8F3;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 8px 15px;
}

/* .banner-btn:hover {
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
} */

.banner-img img {
    width: 400px;
}

/* Main Section Style */
/* Main-Container-About Section Style */


.main {
    max-width: 1000px;
    margin: 0 auto;
}

.main-container-about-section {
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 100px;
    margin-top: 100px;
}

.main-container-about {
    color: #181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.main-container-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    /* 166.667% */

}

.main-container-contact {
    display: flex;

}

.main-container-contact div {
    padding: 20px;

}

.main-container-contact-up {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.main-container-contact-down {
    text-align: center;
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* Main Container About Section Two */

.main-container-about-section-two {
    border-radius: 10px;
    background-color: ;
    padding: 100px;
    margin-top: -20px;
}

/* Main Container Experience Section */

.main-container-exp-section {
    display: flex;
    gap: 13px;

}

.exp-section-box {
    padding-left: 42px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.exp-section-box-heading {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.exp-section-box-desc {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 200px;
}

.exp-section-box img {
    margin-bottom: 30px;
    margin-top: 20px;
}